@{
	Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<style>
	body{
		font-family: Verdana, monospace, sans-serif;
            font-size: 12px;
            font-weight: bold;
            text-align: justify;
		background-image: url("https://www.teahub.io/photos/full/27-275406_1920x1200-artistic-marilyn-monroe-backgrounds-wallpapers-marilyn-monroe.jpg");
		margin-top:80px;
		/*background-size: 80% 80%;*/
		background-position: center;
	}
</style>
<div class="container-fluid text-light p-5 mt-5" >
	<h6 style="font-size:60px;">SOMETHİNG BAD HAPPENED</h6>
	<br />
	<br />
	<p style ="font-size:20px;">
		404: The page you were trying to reach wasn't there
	</p>
</div>
<div class="text-light" style="font-size:20px; position:fixed; bottom:150px; right:60px;">
	<p >But we still love you</p>
</div>
	
