@model e_Tickets.Models.ViewModel.Register
<style>
    /*   *,
            *:before,
            *:after {
                padding: 0;
                margin: 0;
                box-sizing: border-box;
            }*/
    .body {
        background-image: url("https://wallpaperaccess.com/full/1561985.jpg");
        /*background-size: 100% 100%;*/
        background-position: center center;
        background-repeat:no-repeat;     
    }

    .background {
        width: 430px;
        height: 520px;
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;
    }

        .background .shape {
            height: 200px;
            width: 200px;
            position: absolute;
            border-radius: 50%;
        }

    /*        .shape:first-child {
                background: linear-gradient( #1845ad, #23a2f6 );
                left: -80px;
                top: -80px;
            }*/

    /*     .shape:last-child {
                background: linear-gradient( to right, #ff512f, #f09819 );
                right: -30px;
                bottom: -80px;
            }*/

    .login {
        height: 800px;
        width: 400px;
        background-color: rgba(255,255,255,0.13);
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        border-radius: 10px;
        backdrop-filter: blur(10px);
        border: 2px solid rgba(255,255,255,0.1);
        box-shadow: 0 0 40px rgba(8,7,16,0.6);
        padding: 50px 35px;
        
    }

        .login * {
            font-family: 'Poppins',sans-serif;
            color: #ffffff;
            letter-spacing: 0.5px;
            outline: none;
            border: none;
        }

        .login h3 {
            font-size: 22px;
            font-weight: 500;
            line-height: 42px;
            text-align: center;
        }

    .label {
        /* display: block;*/
        margin-top: 30px;
        font-size: 16px;
        font-weight: 500;
    }

    .input {
        display: block;
        height: 50px;
        width: 100%;
        background-color: rgba(255,255,255,0.07);
        border-radius: 3px;
        padding: 0 10px;
        margin-top: 8px;
        font-size: 14px;
        font-weight: 300;
    }

    ::placeholder {
        color: #e5e5e5;
    }

    .button {
        margin-top: 50px;
        width: 100%;
        background-color: #ffffff;
        color: #080710;
        padding: 15px 0;
        font-size: 18px;
        font-weight: 600;
        border-radius: 5px;
        cursor: pointer;
    }

    .social {
        margin-top: 30px;
        display: flex;
    }

        .social div {
            background: red;
            width: 150px;
            border-radius: 3px;
            padding: 5px 10px 10px 5px;
            background-color: rgba(255,255,255,0.27);
            color: #eaf0fb;
            text-align: center;
        }

            .social div:hover {
                background-color: rgba(255,255,255,0.47);
            }

        .social .fb {
            margin-left: 25px;
        }

        .social i {
            margin-right: 4px;
        }

</style>


<body class="body" style="min-height:1200px; position:relative;">
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form class="login" method="post">
        <h3>Register</h3>
        <label class="label" for="Name">Name</label>
        <input asp-for="Name" class="input" type="text" placeholder="Name">
        <span asp-validation-for="Name"></span>

        <label class="label" for="Surname">Surname</label>
        <input asp-for="Surname" class="input" type="text" placeholder="Surname" id="surname">
        <span asp-validation-for="Surname"></span>

        <label class="label" for="Email">E-Mail</label>
        <input asp-for="Email" class="input" type="text" placeholder="E-Mail" id="email">
        <span asp-validation-for="Email"></span>

        <label class="label" for="username">Username</label>
        <input asp-for="UserName" class="input" type="text" placeholder="Email or Phone" id="username">
        <span asp-validation-for="UserName"></span>

        <label class="label" for="password">Password</label>
        <input asp-for="Password" class="input" type="password" placeholder="Password" id="password">
        <span asp-validation-for="Password"></span>

        <label class="label" for="passwordagain">Password Again</label>
        <input asp-for="Password2" class="input" type="password" placeholder="Password Again" id="passwordagain">
        <span asp-validation-for="Password2"></span>

        <button class="button">Log In</button>
        <div class="social">
            <div class="go"><i class="fab fa-google"></i>  Google</div>
            <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
        </div>
    </form>
</body>
